[2016-07-20 03:22] hengi110 opened #1 "Issue in installing GROMACS-FDA"
Hello,

We tried to install gromacs-fda on ubunto but got the following errors after executing the 'make' command:
/home/mohammad/Downloads/gromacs-fda-fda/src/gromacs/gmxana/gmx_fda_view_stress.cpp: In function ‘int gmx_fda_view_stress(int, char**)’:
/home/mohammad/Downloads/gromacs-fda-fda/src/gromacs/gmxana/gmx_fda_view_stress.cpp:128: warning: ‘auto’ will change meaning in C++0x; please remove

[2016-07-20 18:53] bcostescu commented on #1
We haven't seen this error before, but this code is rather new. Which version of Ubuntu is this? Also which C and C++ compiler are you using?

[2016-07-21 07:58] BerndDoser commented on #1
Those errors occurs if the new standard C++11 is not available.

[2016-07-21 17:06] hengi110 commented on #1
Hi,

I see. Thank you. Actually the operating system is not ubuntu. We are using
CentOS release 6.8 and the compiler is g++ (GCC) 4.4.7 20120313 (Red Hat
4.4.7-17).

Best,

Hengameh

On Thursday, July 21, 2016, Bernd Doser <notifications@github.com> wrote:

--
Hengameh Shams
Postdoctoral Researcher
Molecular Cell Biomechanics Lab at UC Berkeley

[2016-08-23 21:29] dbiner01 opened #2 "file INSTALL cannot find ".../fda-08232016/bin/gmx"."
When we get to the make install of the FDA patch we get an error:

-- Up-to-date: /N/u/dbiner/BigRed2/software/gromacs/fda-08232016/include/gromacs/trajectoryanalysis/analysismodule.h
-- Up-to-date: /N/u/dbiner/BigRed2/software/gromacs/fda-08232016/include/gromacs/trajectoryanalysis/analysissettings.h
-- Up-to-date: /N/u/dbiner/BigRed2/software/gromacs/fda-08232016/include/gromacs/trajectoryanalys

[2016-08-24 07:00] BerndDoser commented on #2
Please use the installation procedure described at [fda-manual](https://github.com/HITS-MBM/gromacs-fda/blob/fda/fda-manual/fda-manual.pdf). Using '-DGMX_BINARY_SUFFIX=_fda' there should be an executable 'gmx_fda' instead of 'gmx'. It would also recommended to compile out of the source directory.

[2016-08-24 08:03] BerndDoser commented on #1
I have added a check in cmake if c++11 is available for gmxana.

[2016-08-24 08:03] #1 closed

[2016-08-24 14:26] dbiner01 commented on #2
There was a small typo in my cmake command.  Thanks for getting back to me so quickly!

[2016-08-24 14:26] #2 closed

[2016-09-02 12:55] dbiner01 opened #3 "Are velocities needed in your trajectory file?"
I have output .xtc files for my simulations and I get an error saying their are no velocities.  Do I have to run the simulation again writing out velocities or will the FDA work regardless of the error?

Thanks,
Daniel

[2016-09-05 17:27] dbiner01 commented on #3
Also, when I try to map the force network with fda_graph, I can only get it to work with a pfa file.  When I try it with a pfr, the pfr ends up having one more residue than the c-alpha option in my index file and this mismatch causes a fatal error.  Is there a way to get around this?

[2016-09-05 19:33] BerndDoser commented on #3
Hi Daniel,

thanks for your report! Could you please provide us the corresponding input files and commands for your issue.

Best regards,
Bernd

[2016-09-05 20:46] bcostescu commented on #3
​Only coordinates (as found in the .xtc files) are required, as forces​ are
calculated based on the relative positions of atoms with respect to each
other.

Where do you get the error saying that there are no velocities and what is
the exact error messages?

Cheers,
Bogdan

On Fri, Sep 2, 2016 at 2:55 PM, dbiner01 <notifications@github.com> wrote:

[2016-10-10 03:01] KhushSingh opened #4 "LINC warnings while running (TR)FDA"
Hi,

I am trying to rerun my trajectory to recompute the atomic forces using (TR)FDA. After running for a while, my job stops due to an error (pasted below). I am not sure if this is related, but while generating my tpr file, I did not get any LINC warnings. It would be of great help if you could guide me as to what could lead to such error.

**Program mdrun_pf2, VERSION 4.5.3
Source code file: co

[2016-10-10 07:54] BerndDoser commented on #4
Dear Khushboo,

your issue seems to me belonging more to general GROMACS (please read http://www.gromacs.org/Documentation/Terminology/Blowing_Up) as to FDA. Could you please check a pure rerun without FDA. If the issue only occurs in FDA, please check if the GROMACS version generating the trajectory is identical to the GROMACS version you use for the FDA rerun (4.5.3).

You should think about an

[2016-10-10 21:40] KhushSingh commented on #4
Hi Bernd,

Thank you so much for your response. As mentioned by you the error was in the topology file and has nothing to do with FDA. However, now I am getting an error (pasted below), which I assume is specific to FDA.

**Program mdrun_pf2, VERSION 4.5.3
Source code file: pf_utils.c, line: 659
Fatal Error: When using compat mode, the two group names should the identical.**

I am assuming its rel

[2016-10-11 07:00] BerndDoser commented on #4
Dear Khushboo,

'pf_residuebased = compat_ascii' is a deprecated option to be compatible with the very first FDA implementation, where only one group was supported (see [manual](https://github.com/HITS-MBM/gromacs-fda/blob/release-5-1-fda2.7/fda-manual/fda-manual.pdf)). Therefore, the two group name must be identical, as the error message said.

Best regards,
Bernd

[2016-10-11 07:03] BerndDoser commented on #3
Please reopen it if there is still an issue.

[2016-10-11 07:03] #3 closed

[2016-10-11 19:03] KhushSingh commented on #4
Thank you for helping me. I was finally able to generate relevant output files.

Regards,
Khushboo

[2016-10-11 19:06] BerndDoser commented on #4
You're welcome!

[2016-10-11 19:06] #4 closed

[2016-10-18 07:31] BerndDoser opened #5 "Fatal error if atom or residue-based are switched off using detailed output."
FILE_OUT_NONE is not treated at
https://github.com/HITS-MBM/gromacs-fda/blob/532c089c9b5076d68c4702f4e210a24175e18211/src/gromacs/fda/pf_io.cpp#L363

[2016-10-18 07:40] #5 closed

[2016-10-24 09:57] BerndDoser opened #6 "boost graph module is not found using external boost installation"
Error during compilation:

[code]

The error is from gromacs v2016.

[2016-10-24 10:17] BerndDoser commented on #6
GROMACS has removed the boost dependency in v2016. As FDA graph analysis depends on boost graph boost graph was reintegrated for the FDA version (see commit e9e0c2399b05f68befd1a3bd6489562557845660).

[2016-10-25 08:34] BerndDoser opened #7 "Check for valid options in fda input file"
At the moment invalid options will be ignored. e.g. if the deprecated option 'scalar' is used instead of the 'pairwise_forces_scalar' and there will be no result file.

[2016-10-25 08:37] BerndDoser opened #8 "Code refactoring"
- Remove duplicated structures t_pf_global_data and t_pf_global
- Move documentation from impl into header files
- Use C++ classes instead of structures and free functions

[2016-12-19 14:19] #7 closed

[2017-01-12 10:08] #8 closed

[2017-04-22 19:25] KhushSingh opened #12 "Network Representation of Force Distribution"
Hi, Bernd!

I conducted (TR)FD analysis to investigate the effect of a mutation on the force propagation within a protein-ligand complex. Now, I need to generate images for my publication highlighting the difference in the force distribution from the point of mutation between wild-type and mutant protein. I was hoping to generate a network representation of the force distribution within the protei

[2017-04-24 08:25] BerndDoser commented on #12
Hi KhushSingh,

Please take a look to the analysis modules in the documentation chapter 5. Fig 2(C) looks to me like such a graph.

Best regards,
Bernd

[2017-05-30 20:51] KhushSingh opened #13 "FDATools Installation"
Hi Bernd,

I am trying to install FDATools to directly import and analyze my average pair-wise force data (.fm file) using atomGraph and resGraph within the package. On typing <install.packages('FDAtools')> on R console, I am receiving the following error :
 **Warning in install.packages
package ‘FDAtools’ is not available (for R version 3.3.3)**

Which version of R has FDAtools package? Looking f

[2017-05-31 07:53] BerndDoser commented on #13
Hi Khushboo,

the FDAtools are obsolete and were replace by the GROMACS analysis tools, descriped in the [FDA manual](https://github.com/HITS-MBM/gromacs-fda/blob/master-fda/fda-manual/fda-manual.pdf) chapter 5. The packages in [fda-archive](https://github.com/HITS-MBM/fda-archive) are only provided for backward compatibility reasons and will not be supported anymore. Therefore, I highly recommend

[2017-06-16 07:27] BerndDoser commented on #13
Hi Khushboo,

I stlll strongly recommend an upgrade to the newest FDA version and analysis tools. Its better to spend your time into the installation of the new version than to learn the usage of the old tools. I am also not very helpful since I worked only with the new TRFDA version. The only hint I can give is that the filename 'scalar_avg.fm' is not an object. You should first read the file int

[2017-06-20 08:21] datasciencebio opened #14 "Installation Error from v2016.1-fda2.7"
Hi Bernd,

I am trying to install the v2016.1-fda2.7 in a new macbook, after following the fda manual , terminal was showing as follow:

**cmake -DCMAKE_INSTALL_PREFIX=/Users/cs/gromacs/fda-2016.1-fda2.8 -DGMX_BUILD_FDA=ON -DGMX_DEFAULT_SUFFIX=OFF -DGMX_BINARY_SUFFIX=_fda -DGMX_SIMD=NONE -DGMX_BUILD_UNITTESTS=ON -DGMX_GPU=OFF ..**

-- The C compiler identification is AppleClang 8.1.0.8020042
-- Th

[2017-06-20 08:37] joanwa commented on #14
As far as I know Apple clang doesn't support OpenMP. So you should get the
same error for trying to compile plain gromacs. I compile gromacs on Mac
with gcc. One way to install it is via homebrew: https://brew.sh

brew install gcc

On Tue, Jun 20, 2017, 10:21 AM datasciencebio <notifications@github.com>
wrote:

[2017-06-20 08:53] BerndDoser commented on #14
The missing OpenMP support of clang is only a warning. The compiler stops at the undeclared identifier 'sqrt', likely because std or cmath is missing. I will check this.

[2017-06-20 09:11] BerndDoser commented on #14
But the comment of @joanwa is also important:

at http://manual.gromacs.org/documentation/2016.2/install-guide/index.html

[2017-06-20 09:35] datasciencebio commented on #14
Thank you, I would try to update clang verstion to 3.8

[2017-06-22 07:54] BerndDoser commented on #14
Compilation and tests works fine using Linux clang 4.0. Somehow the Apple clang compiler didn't find the sqrt function in the global namespace which should be defined in math.h. As it is anyway better to use the std::sqrt function, I will change this in all branches.

[2017-06-22 08:09] #14 closed

[2017-07-03 08:03] BerndDoser commented on #12
Please reopen the issue or create a new one in case of more questions.

[2017-07-03 08:03] #12 closed

[2017-07-03 08:04] BerndDoser commented on #13
Please reopen the issue or create a new one in case of more questions.

[2017-07-03 08:04] #13 closed

[2017-07-03 08:09] BerndDoser commented on #14
Apple Clang is now also tested at Travis-CI: https://travis-ci.org/HITS-MBM/gromacs-fda

[2018-04-30 09:49] BerndDoser opened #15 "Wrong leading sign using periodic boundary conditions"
The leading signs of the pairwise forces are calculated with the directions of the force and the bond vectors (see https://github.com/HITS-MBM/gromacs-fda/blob/be1ea0102de3d73c92703181ba0829394a1c3ef2/src/gromacs/fda/Utilities.h#L24). In the case of periodic boundary conditions the position of all atoms outside the box will be translated into the box, so that bond vectors with one atom outside the

[2018-04-30 09:50] BerndDoser commented on #15
Fixed in be1ea0102de3d73c92703181ba0829394a1c3ef2

[2018-04-30 09:50] #15 closed, assigned to BerndDoser

[2018-07-05 09:21] BerndDoser opened #16 "Integration of FDA into Verlet non-bonded SIMD kernels"
FDA will be added to Verlet non-bonded SIMD kernels, similar to the existing Verlet reference kernel.

[2018-07-05 09:26] BerndDoser opened #17 "Binary file format for FDA result files"
For all FDA result files (pfa, pfr, psa, psr, vsa, vma) a binary format will be implemented for the FDA rerun and the FDA trajectory analysis tools.

[2018-07-09 13:55] BerndDoser opened #18 "Change the optional flag for trajectory of analysis tools"
To be consistent to the other analysis modules of gromacs the optional flag '-traj' will be changed into '-f' for the FDA analysis modules fda_graph, fda_shortest_path, and fda_view_stress.

[2018-07-09 14:00] BerndDoser commented on #18
Fixed with commit 32af421f46aa8e5da72f8b33541d342c4eed7a1c

[2018-07-09 14:00] #18 closed, assigned to BerndDoser

[2018-07-27 07:58] BerndDoser opened #19 "Normalize per-residue punctual stress by number of atoms"
A new option "normalize_punctual_stress_per_residue" will be added to FDA, which divide the per-residue punctual stress by the number of atoms in the residue.

[2018-08-01 09:46] #16 closed, assigned to BerndDoser

[2018-08-01 12:10] #19 closed, assigned to BerndDoser

[2018-08-01 12:12] #17 closed, assigned to BerndDoser

[2018-11-14 15:32] fluver opened #22 "ndx for fda_graph?"
Im currently trying to investigate my protein using the latest gmx_fda version but struggle with fda_graph.
Running `gmx_fda mdrun -nt 1 -rerun system.cat.xtc -s ../../topol.tpr -pfn index.ndx -pfi input.pfi` works fine. But `echo Protein | gmx_fda fda_graph -i fda.pfr -s ../../topol.tpr -n index.ndx` fails with

(Protein group has 21792 elements)
37812 corresponds to the total number of residues

[2018-11-30 15:17] BerndDoser commented on #22
It should work as you told. The feature is tested within the unit tests. Was your test run error-free?
The unit test is located at src/gromacs/gmxana/fda/tests/data/glycine_trimer. You can run it with
[code]
The pfr-file was created with
[code]
If this works correctly, please provide me your system, so that I can reproduce the error.

[2019-03-04 15:36] BerndDoser opened #23 "fda_graph positions are wrong using gro-file as input structure"
Conversion from nm into angstrom is not considered:

https://github.com/HITS-MBM/gromacs-fda/blob/14cb81b35f83528f5a060735720257d8c6050205/src/gromacs/gmxana/gmx_fda_graph.cpp#L146

[2019-03-04 15:39] BerndDoser opened #24 "fda_graph: file opening error if option -diff is not used"
https://github.com/HITS-MBM/gromacs-fda/blob/14cb81b35f83528f5a060735720257d8c6050205/src/gromacs/gmxana/gmx_fda_graph.cpp#L102

[2019-03-14 12:56] BerndDoser commented on #23
Fixed by 0a894f43756b65d3185494d6b4e5030ef3aa20a5

[2019-03-14 12:56] #23 closed, assigned to BerndDoser

[2019-03-19 12:12] BerndDoser commented on #22
Please reopen if the issue still exist.

[2019-03-19 12:12] #22 closed, assigned to BerndDoser

[2019-03-19 12:42] BerndDoser commented on #24
Fixed with 9a7f56cac8fbe1d8fb29cdacf41f703456cd8bc3

[2019-03-19 12:42] #24 closed, assigned to BerndDoser

[2019-07-11 06:56] MohaddesehPeyro opened #25 "FDA for coarse-grained models"
Hi,
I was wondering if it is possible to use FDA for a one-bead-per-amino-acid coarse-grained molecular dynamics model that runs on Gromacs. I have tried to run it but I get empty output files. In the model that I use, only residues are taken into account and the interactions are defined between residues, so I have no atomic information in the input files that I use for FDA.
Thanks in advance,
Moh

[2019-07-11 07:35] BerndDoser commented on #25
Hi Mohaddeseh,

thanks for your interesting question! Unfortunately, I have never tried to run coarse-grained molecular dynamics in GROMACS. Which force field you are using? Maybe Martini? I assume that GROMACS is not using the same path for the coarse-grain interactions as for the atomic ones. If you could send me a small example input, which I can easily run with GROMACS, I can take a look via d

[2019-07-15 02:58] MohaddesehPeyro commented on #25
Hi Bernd,

Thanks for your response and sorry for my delayed answer.
The force field is not Martini, it is a force field developed by our collaborator. Great, thanks for offering to run FDA with my input files. I will send them to you via email. Is that OK?

Best,
Mohaddeseh

[2019-07-16 11:08] BerndDoser commented on #25
I would try to use atombased instead of residuebased FDA. When I understand your input files correctly, then each entry in `conf.gro` corresponds to an amino acid or to a group of atoms in general. Therefore, atoms are already residues in your case.

[2019-07-19 23:16] MohaddesehPeyro commented on #25
Wonderful idea! I tried it and it worked and I got results. Now I'm about to analyze the results. Thanks so much for your help. I'll let you know if I have any other issues.

[2019-08-26 11:06] #25 closed, assigned to BerndDoser

[2019-09-11 16:21] BerndDoser opened #26 "Add option to ignore unsupported bond potentials"
Some bond potentials (low_angres, restrangles, restrdihs, cbtdihs, and cmap_dihs) are not supported by FDA and stop with an error message.  A new FDA option ‘ignore_missing_potentials’ will be added to print only a warning. Be aware that the sum of distributed forces do not agree with the total forces. The default value is false.

[2019-09-11 16:24] BerndDoser commented on #26
Done in 5a5ab967b88449bfbd97a08783ba3f3f39644502

[2019-09-11 16:24] #26 closed, assigned to BerndDoser

[2019-09-17 05:11] MohaddesehPeyro opened #27 "Coulomb interactions"
Hello,

I previously asked a question here you regarding running Gromacs-FDA for a coarse-grained model. I successfully ran Gromacs-FDA with my files but now I have a question about getting .psa files for coulombic interactions. When I choose coulomb as the interaction type, I get 0 for all the values in the .psa file. I don't have this issue with other interaction types.
Can you please help me wi

[2019-09-17 07:20] BerndDoser commented on #27
Yes, of course. Can you please provide me your in- and output files and the exact FDA version number, that I can try to reproduce your issue.

[2019-09-18 06:49] BerndDoser commented on #27
Hi Mohaddeseh,

thank you for sending your files via email. Your GROMACS version 5.1.2 is pretty old and unfortunately not supported by FDA anymore. Please update your GROMACS to v2018 or v2019 and use the latest version of FDA 2.9.1.

Cheers,
Bernd

[2019-09-24 19:07] MohaddesehPeyro commented on #27
Hi Bernd,

I installed and used gromacs and fda 2018 and I still face the same issue.
If you look at the output files (fda.psa) for coulomb interactions, it is
all zeros. I sent you the new files via email. Can you please help
with this?

Thanks,
Mohaddeseh

On Tue, Sep 17, 2019 at 11:49 PM Bernd Doser <notifications@github.com>
wrote:

--
Mohaddeseh Peyro
PhD Candidate, Molecular Cell Biomechanic

[2019-09-24 20:17] BerndDoser commented on #27
Hi Mohaddeseh,

Yes, I will take a look. Only to be sure: You have taken the latest version [v2018.7-fda2.9.1](https://github.com/HITS-MBM/gromacs-fda/releases/tag/v2018.7-fda2.9.1) and the trajectory was produced with the same gromacs version?

[2019-09-25 01:48] MohaddesehPeyro commented on #27
Hi Bernd,

Thanks very much. The files in the new folder I sent you are all generated
with the gromacs and gromacs-fda versions you mentioned except for the
trajectory file. The trajectory file was produced with gromacs 5.1.2. I
currently can't reproduce the trajectories with the recent version of
gromacs due to some server issues. Would you be able to help with the
current files?

Best,
Mohaddese

[2019-09-25 09:11] BerndDoser commented on #27
No problem! I saw that the mdp-file is also available, so I can reproduce the trajectory by myself. Searching for it, I have seen that you are using a user-define coulomb type. That would be a first indication, if the coulomb forces are calculated in an separated path. I will search for it.

[2019-09-25 09:47] BerndDoser commented on #27
Unfortunately, I have no experience with user-defined coulomb type and the generation of the needed table files. Since your full system is a bit large for the debug process, would it be possible for you to generate a small test input using a user-defined coulomb interaction?

[2019-10-07 21:41] MohaddesehPeyro commented on #27
Hi Bernd,

Thanks for your response. I generated a small system with the same
user-defined potentials. I have sent you the files. Thanks very much for
your help in advance.

Best,
Mohaddeseh

On Wed, Sep 25, 2019 at 2:47 AM Bernd Doser <notifications@github.com>
wrote:

--
Mohaddeseh Peyro
PhD Candidate, Molecular Cell Biomechanics Laboratory
University of California, Berkeley

[2019-10-15 12:16] BerndDoser commented on #27
Running your small test system with gromacs-2018.7-fda.2.9.1, I get following error message:
[code]
Trying to reproduce a trajectory using the `md`-integrator, I get following error message during mdrun:
[code]

Please provide a valid trajectory for gromacs 2018.7.

[2019-10-27 08:13] MohaddesehPeyro commented on #27
Hi Bernd,

Thanks for your response. I reproduced the trajectory with Gromacs 2018.7
and ran it with fda 2.9.1 and was able to get a non-zero .psa file. This
was done on a test single-protein system for a very short time. The system
that I'm hoping to analyze with fda contains multiple proteins but the same
user-defined potentials are used for all of them. When I run the second
system, my .psa fil

[2019-11-04 11:18] BerndDoser commented on #27
Hi Mohaddeseh,

thanks for your message and the example in the mail. Now, I have the problem that we mix different things together a bit. In your latest example "8_copies_of_protein_attched_to_scaffold" your are using bonded interaction types, which leads to a non-zero stress tensor. This new investigation is not helpful to me.

The issue at the beginning was very clear to me. The coulomb interact

[2019-11-18 06:14] MohaddesehPeyro commented on #27
Hi Bernd,

Thanks very much for following up and I'm sorry if this has caused
confusion. The thing is that after running the single protein system with
gromacs 2018 and fda 2.9.1, I was able to get non-zero values in the .psa
file for coulomb interactions. The current problem is that with the exact
same setting, I get all zero values in the .psa file for coulomb
interactions for my system of 8 cop

[2019-11-21 16:06] BerndDoser commented on #27
Hi Mohaddeseh,

I am a step further. Looks like a bug with the energy group exclusions. Using 'energy_grp_exclusion = no' there are coulomb interactions in the pfa file. You can use it without that exclusion, which are only to speed-up the rerun. I will try to find the bug.

Best regards,
Bernd

[2019-11-26 10:55] BerndDoser opened #28 "fda_graph option 'big' doesn't work"
The fda_graph option 'big' produce the same results (all networks) with or without the flag.

[2019-12-02 09:43] MohaddesehPeyro commented on #27
Hi Bernd,

Thanks very much for the update. I'm glad you found the source of the
problem. I tried to do what you mentioned but I get a new error (below)
when I run the mdrun command. Did you get the same error when you removed
the energy exclusion groups? I have tried to equilibrate the system first
but I still get the same error message. Can you please help with this?

Fatal error:

Step 0: The t

[2019-12-02 15:57] BerndDoser commented on #27
I see no error or strange numbers in energy or FDA forces.

Best,
Bernd

[2019-12-30 08:51] MohaddesehPeyro commented on #27
Hi Bernd,

I have another question. The previous problem is resolved. Now I am able to
run the test simulation which is a very short simulation and get non-zero
values in the .psa file. However, when I run my actual simulation and then
run FDA, I get zero values in the .psa file again. I have 3 steps of
minimization, a 50 nanosecond simulation and then a 450 ns extension of the
last simulation. I

[2020-01-08 08:30] willwzhang commented on #6
Hello Bernd,
I tried to install v2019.3-fda2.9.1 gollowing the manual but got the following error in building process:

CMake Error at /usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:146 (message):
  Could NOT find Boost (missing: graph) (found version "1.69.0")
Call Stack (most recent call first):
  /usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:393 (_FPHSA_FAILURE_MESS

[2020-01-08 08:31] willwzhang commented on #6
Hello Bernd,
I tried to install v2019.3-fda2.9.1 following the manual but got the following error in building process:

CMake Error at /usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:146 (message):
Could NOT find Boost (missing: graph) (found version "1.69.0")
Call Stack (most recent call first):
/usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:393 (_FPHSA_FAILURE_MESSAGE)

[2020-01-08 09:52] BerndDoser commented on #6
Please install boost-graph, e.g. for ubuntu with
[code]

[2020-01-08 12:14] willwzhang commented on #6
I'm testing on fedora with
`yum install boost-devel`
I've checked my boost-graph:
Package boost-graph-1.69.0-9.fc31.x86_64 is already installed.
but still has the same error.

[2020-01-08 15:21] BerndDoser commented on #6
I can reproduce the issue within a fedora docker container:
[code]
It looks like the FindBoost module of CMake is not working with the fedora boost installation. Library  (/usr/lib64/libboost_graph.so) and header files (/usr/include/boost/graph) are available but not found by FindBoost.cmake.

[2020-01-08 16:09] BerndDoser commented on #6
The usage of static libraries is forced in CMakeLists.txt, which are not available in fedora:

https://github.com/HITS-MBM/gromacs-fda/blob/14cb81b35f83528f5a060735720257d8c6050205/CMakeLists.txt#L474

I will remove the special boost settings to fix it.

[2020-01-08 16:10] #6 closed

[2020-01-08 16:12] BerndDoser opened #29 "Static boost libraries are not available in fedora"
I can reproduce the issue within a fedora docker container:
[code]
It looks like the FindBoost module of CMake is not working with the fedora boost installation. Library  (/usr/lib64/libboost_graph.so) and header files (/usr/include/boost/graph) are available but not found by FindBoost.cmake.

_Originally posted by @BerndDoser in https://github.com/HITS-MBM/gromacs-fda/issues/6#issuecomment-572117

[2020-01-09 05:38] MohaddesehPeyro commented on #27
Hi,

I was wondering if you can let me know if you have any thoughts on my
previous post. I have tried many different ways but haven't been able to
solve the issue yet. Is it possible that the mistake is due to the fact
that I am making a mistake in appending the files?

Thanks very much and I truly appreciate any input.
Mohaddeseh

On Mon, Dec 30, 2019 at 12:50 AM mohaddeseh peyro <
mohaddeseh.pe

[2020-01-09 09:24] BerndDoser commented on #27
Sorry. I don't have the time to look at your files at the moment. I will schedule the fix of the energy group exclusions issue in the next days. Maybe I have then enough time to look to your second case in detail. In the meanwhile, you can also do some tests: 1) Check the pair forces, 2) Check if the used force types are correct, 3) Check the threshold, 4) Check the total energy.

[2020-01-16 10:18] willwzhang opened #30 "Questions about visualization with VMD"
Hi Bernd,

I'm a little confused about the VMD visualization plugins. Is this the website to download the latest version of  pf2 VMD plugins?
https://github.com/HITS-MBM/fda-archive

When using
vmd-plugins_pf2_20120829.tar.gz
and importing
[code]
in VMD, I got the following error,
expected floating-point number but got "pairwise_forces_scalar".
Seems it could not read the phrases like
"pairwise_fo

[2020-01-21 14:32] BerndDoser commented on #30
I am waiting for a response of the developer of the VMD plugins. To my present knowledge the VMD plugins are deprecated and were replaced by the gmx analysis modules.

[2020-01-30 09:27] BerndDoser commented on #30
I will reactivate the VMD plugins, because of the more flexible usage. Although the gmx analysis module 'fda_graph' is easier to use, it is very limited to handle more complex force networks by using the pdb format.

[2020-01-30 09:35] BerndDoser opened #31 "Merge with GROMACS 2020"
Annual merge to the next major version.

[2020-02-06 12:55] willwzhang commented on #30
Thanks a lot. I've also tried fda_graph to generate a PDB file. But it seems the PDB file don't have the sequence information, and only generate a network structure. May I know how should I overlap that to my original protein structure?

[2020-02-06 15:56] BerndDoser commented on #30
Yes, the pdb file produced by fda_graph contains only the network information. With VMD you can load the structure or the trajectory as second input. Using the flag '-pymol' a pml file will generated which can be loaded with Pymol.

[2020-02-07 10:21] willwzhang commented on #30
When I load the structure or trajectory into the pdb with VMD, always get errors:
ERROR> Mismatch between existing molecule or structure file atom count and coordinate or trajectory file atom count.
It seems the number of atoms in the pdb file from fda_graph is neither the number of protein atoms nor system atoms from the original structure.
My .pfi file:
[code]
and running fda_graph as:
[code]
se

[2020-02-07 14:17] BerndDoser commented on #30
You have to load it as two separate molecules:
1. The example.gro file for the atomic structure. The gro-file contains the reoriented coordinates.
2. Load example.pdb as new molecule (not into the first structure)

If you are using '-frame skip <n>' you have to generate a suitable trajectory, which has the same frames.

[2020-02-08 08:46] willwzhang commented on #30
Sorry, what I mean is actually something like Fig. 2B in doi: 10.1186/1471-2105-12-101. So the Fig. 2B is actually by VMD plugins?
And since the deprecated VMD plugins, can I take the summation of the absolute values of scalar_force column in .pfa file for each atom as the force on atom? (or in .pfr file for each residue, is this the same as the equation(3) in the paper?)

[2020-02-09 08:39] mohammadsp opened #32 "Installation issue - qsort"
_cmake_ works fine, but _make_ fails with the following error:

`/Users/mohammad/Downloads/gromacs-fda-2019.3-fda2.9.1/src/gromacs/mdlib/shake.cpp:228:10: error: no member named 'qsort' in namespace 'std'
    std::qsort(sb, ncons, sizeof(*sb), pcomp);`
`1 error generated.`
`make[2]: *** [src/gromacs/CMakeFiles/libgromacs.dir/mdlib/shake.cpp.o] Error 1`
`make[1]: *** [src/gromacs/CMakeFiles/libgrom

[2020-02-09 22:02] mohammadsp commented on #32
Adding `#include <stdlib.h>` and changing `std::qsort` to `qsort` in `src/gromacs/mdlib/shake.cpp` fixed the issue.

[2020-02-11 08:37] BerndDoser commented on #32
Thanks for your report. I always prefer the C++ version. I will try to find out why std::qsort is not found.

[2020-02-11 08:48] BerndDoser commented on #30
The publication you mentioned was before I was working on FDA, but I would also say that it was produced with the VMD plugins. The fda_graph is only for the network graphs. Therefore, I would like to ask you for some patience. I will provide the VMD plugins in the next days.

[2020-02-12 01:28] willwzhang commented on #30
Thanks a lot!

[2020-02-12 14:02] BerndDoser commented on #30
Please find the VMD plugins in the new repository https://github.com/HITS-MBM/gromacs-fda-vmd

[2020-02-12 14:04] #30 closed, assigned to BerndDoser

[2020-02-12 16:42] #29 closed, assigned to BerndDoser

[2020-02-13 13:22] BerndDoser commented on #32
The reported behavior is not only for FDA, but also for the unchanged GROMACS code. I was able to reproduce the issue on travis using osx xcode 8.3 (see https://travis-ci.org/HITS-MBM/gromacs-fda/jobs/649930599). The issue was fixed by using osx xcode 11.3 (see https://travis-ci.org/HITS-MBM/gromacs-fda/jobs/649930600).

Therefore, I would recommend to update your clang compiler.

[2020-02-13 13:22] #32 closed, assigned to BerndDoser

[2020-04-29 13:42] BerndDoser opened #33 "Reverse changes of #23"
#23 wasn't a bug and was caused by a misunderstanding of the fact that pdb coordinates are in angstrom whereas gro coordinates are in nm. Therefore, I will reverse the commits cc8b30a5b4a89329f967aac20b4d0bffa197c893 and 0a894f43756b65d3185494d6b4e5030ef3aa20a5.

[2020-06-24 09:46] BerndDoser opened #34 "Pointless check of equality of residue points between index and pfr file"
https://github.com/HITS-MBM/gromacs-fda/blob/99369234ef2ca56f803a0628cad98011aff0726a/src/gromacs/gmxana/gmx_fda_graph.cpp#L119

Most likely the intention of the check was to ensure that all residue interactions are covered, which makes only somehow sense for complete protein self-interactions. For interactions between two proteins the check will fail.

The line will be removed in the analysis mod

[2020-06-24 11:06] #34 closed, assigned to BerndDoser

[2020-06-26 11:36] #33 closed, assigned to BerndDoser

[2020-06-26 11:49] BerndDoser opened #35 "fda_graph exit with "Error in insertPDBInfo""
This issue is related to #34. If a residue FDA point have no force interaction it was throwing a fatal error "Error in insertPDBInfo".

The exit will be changed into a loop continue.

[2020-06-26 11:51] #35 closed, assigned to BerndDoser

[2020-07-24 14:28] BeastyBlacksmith commented on #31
Do you have an estimate on when this will happen?
I am planning to build upon this, but would like to wait for the merge if it is coming soon and I can't build the current version due to linking errors with openMP.
If there is anything I can help with, let me know.

[2020-07-27 07:09] BerndDoser commented on #31
The merge basically finished. I only have to organize the unit tests. I hope that I can release it in next days. Knowing that you are waiting for it let me hurry up.

With which version do you have linking issues?

[2020-07-27 07:32] BeastyBlacksmith commented on #31
Thats gromacs 2019.3. I worked around it by disabling the OpenMP variable in the cmake-file. Building gromacs 2020.3 works fine.

Besides this, since what you have done here is similar to what we want to build I would be happy to have a chat about your experiences, if time permits.

[2020-07-27 08:20] BerndDoser commented on #31
Do you have the OpenMP issue only for GROMACS-FDA or also for the unchanged GROMACS version?

Of course, chat is possible. Would tomorrow morning around 10 a.m. be suitable for you?

[2020-07-27 08:39] BeastyBlacksmith commented on #31
I have the issue also for the unchanged GROMACS version, nothing on your end.

If possible, I would prefer early afternoon around 1 p.m..

[2020-07-27 09:41] BerndDoser commented on #31
Great! Then let us fix tomorrow 1:30 p.m. I will send my contact data via mail.

[2020-08-11 03:48] Ecaloota commented on #31
I am also keen on using the GROMACS 2020.1 merge.

[2020-08-11 07:03] BerndDoser commented on #31
It's almost finished and will be released this week.

[2020-08-14 09:29] BerndDoser commented on #27
The group cut-off scheme has been removed and the enery group exclusion are not supported by the Verlet cut-off scheme so far. Therefore, we remove this performance feature until it is available again.

@MohaddesehPeyro: Please open a new issue report, if your issue with the coarse-grained input with version 2020-fda-2.10 still exist.

[2020-08-14 09:29] #27 closed, assigned to BerndDoser

[2020-08-14 09:29] #31 closed, assigned to BerndDoser

[2020-08-14 10:15] BeastyBlacksmith commented on #31
Thanks for the release! Can you tell me which gromacs version you merged with ( or the commit SHA? )

[2020-08-14 11:49] BerndDoser commented on #31
The merge with GROMACS v2020 (29dff396) is finished, but for the fda-2.10 release I still need the last bugfix #28.

[2020-08-14 12:26] #28 closed, assigned to BerndDoser

[2020-08-19 01:00] Ecaloota opened #36 "Issues visualising PFR output - renumbering issue? and seg fault with v.2.10 and GROMACS 2020.1"
Hi @BerndDoser

I've used gmx_fda V 2.10 for GROMACS 2020.1 to generate a PFR file using the following command:

`gmx_fda mdrun -nt 1 -rerun r1pr_3fcs_2d_skip10.xtc -pfi input.pfi -pfr out_test.pfr -s r1pr_3fcs_2d.tpr -pfn index.ndx`

Where the input.pfi file contains the following parameters:

This outputs the expected PFR file, and it resembles those provided in your gromacs-fda-vmd repository a

[2020-08-25 01:48] Ecaloota commented on #36
Ping @BerndDoser

[2020-08-25 06:40] BerndDoser commented on #36
@Ecaloota, I am on vaccation and will be back next week.

[2020-08-25 06:59] Ecaloota commented on #36
No worries, thanks.

[2020-08-31 07:38] BerndDoser commented on #36
Hi @Ecaloota. You have closed this issue. Is it resolved?

[2020-09-01 06:18] Ecaloota commented on #36
Hi @BerndDoser. Partly, though I've written a few scripts to work around some of the issues, so I can visualise output now with a few extra little steps.

For some reason, forces were being calculated between C-alphas of my protein and a calcium ion in my system, which was responsible for the mismatch between the number of force-pairs expected by gmx_fda and by the input .NDX file. I expect this i

[2020-09-01 09:14] BerndDoser commented on #36
Thank you @Ecaloota for the detailed report. There was an issue with an pointless check of fda points (#34) fixed in the 2019 branch. Unfortunately, I have forgotten to merge the latest commits of the 2019 into the 2020 branch before deploying FDA 2.10.
I will catch up and release it in version 2.10.1.

[2020-09-02 13:15] #36 closed, assigned to BerndDoser

[2020-10-28 15:40] BerndDoser opened #37 "Wrong atom indices using CMAP dihedrals"
For the storage of the pairwise forces the wrong atom indices are used for the CMAP bond type.

[2020-10-29 12:32] #37 closed, assigned to BerndDoser

[2021-02-02 10:37] BerndDoser opened #40 "Update to GROMACS 2021"

[2021-03-22 17:31] aminsagar opened #41 "Segmentation Fault in fda_view_stress"
Dear fda developers,
I am trying to use gromacs-fda to calculate punctual stress during the course of a steered MD simulation.
My input file looks like this

onepair = summed
atombased = no
residuebased = punctual_stress
type = all

gmx_fda mdrun completes without any error and the output .psr files are written.
However, when I try to generate PDB files using
gmx_fda fda_view_stress -i output1.psr

[2021-04-06 10:04] BerndDoser commented on #41
Hi Amin,

thanks for your report and your patience. I am now back from vacation and will take a look to your issue. Could you please send me your input files and the FDA version number you are using, so that I am able to reproduce your issue.

Best regards

[2021-04-07 11:49] aminsagar commented on #41
Hello Bernd. Thanks for your response.
I am attaching the files for reproducing the error.
I am using fda 2020.
[fda-test.zip](https://github.com/HITS-MBM/gromacs-fda/files/6271305/fda-test.zip)
Best,

[2021-04-09 09:06] BerndDoser commented on #41
Thanks for the files. The pdb output format is only working if the input structure file `-s` is also in the pdb-format. Otherwise the pdbinfo is not available in gromacs. I will try to generate the missing pdbinfo. If this is not possible, I will restrict the input format to pdb. However, I found a second curious issue in your input data, which I would like to figure out. Your system has 102 alpha

[2021-04-13 18:27] aminsagar commented on #41
Thanks Bernd for the help and sorry for replying late. I confirm that pdb file is generated correctly on using the pdb file.
I noticed that there was an extra column in the psr file but ignored it. I might be completely wrong here but it seems to me that this happens only when I have "residuebased = punctual_stress" in my input file. I regenerated the psr file with a pfr file generated with "resid

[2021-04-23 18:02] realsobek opened #42 "typos in fda-manual.pdf"
In the manual https://github.com/HITS-MBM/gromacs-fda/blob/release-2020-fda/fda-manual/fda-manual.pdf I noticed some typing mistakes. Keep in mind I am not a native speaker and not an expert in the field. I could not compile a patch, because I could not find the source of the file. Hence, I created this issue.

At first you see the current spelling. Then a separator line. At the end of the separat

[2021-04-26 09:07] BerndDoser commented on #42
Thank you very much for your valuable references. I am currently working on the migration of the pdf document into the better maintainable markdown language and will gladly take your references into account.

[2021-05-05 09:47] BerndDoser opened #43 "Wrong stress values in pdb file using fda_view_stress"
The stress values printed in the B-factor column of the PDB file using the FDA analysis too fda_view_stress are wrong. All frames are identical and showing a single trajectory state.

[2021-05-05 09:51] #43 closed, assigned to BerndDoser

[2021-05-12 14:13] #42 closed, assigned to BerndDoser

[2021-06-23 08:04] BerndDoser opened #44 "Wrong frame numbers using time averages"
All frame numbers are zero.

[2021-06-25 08:25] #44 closed, assigned to BerndDoser

[2022-03-10 16:18] SimonStitzinger opened #46 "fda_get_stress seems to ignore input file option -i"
I used  `gmx_fda mdrun` to calculate pairwise forces between atoms (saved to out.pfa). Now I am trying to use `fda_get_stress` to calculate the punctual stress per atom from the pairwise forces.

When I run it with the following command: `gmx_fda fda_get_stress -i out.pfa -o stress.psa`, it seems like the function ignores the file given with option `-i` and falls back to the default. I get this er

[2022-07-27 22:42] Dan-Burns opened #47 "Standard library runtime error"
Hello,

I've installed fda on my school's hpc and am getting the following error:

Program:     gmx mdrun, version 2020.4-dev-20220124-df2cd772a-unknown

Standard library runtime error (possible bug):
(exception type: St13runtime_error)
Unknown option yes

Perhaps I didn't have some module/dependency loaded when I installed?

I am also trying to install locally on an M1 mac but getting a list of e

[2022-10-14 14:57] BerndDoser opened #48 "Wrong coordinates using fda_graph without residue renumbering"
Issue can be reproduced using the `alagly` test system at `src/gromacs/gmxana/fda/tests/data/alagly` with

[code]
result.pdb:
[code]
shows wrong coordinates.

[2022-10-17 11:49] BerndDoser opened #49 "pfa file required using residue-based fda_shortest_path"
I'm trying to use the fda_shortest_path module for the analysis with the following comand
[code]
and I receive the following error message:
[code]
If you notice from my input file, I performed the analysis residue-based and not atom-based, thus I only have an output.pfr file and not a out.pfa.
As a test, I created an empity fda.pfa file and the analysis work without printing anything in the output

[2022-10-19 08:44] BerndDoser commented on #49
Unfortunately, I cannot reproduce the issue with
[code]

[2022-10-19 11:30] BerndDoser commented on #49
The issue was reproducible with special user data. Although the `-diff` option is not used, the program is trying to open a second pairwise forces file, which is not available.

[2022-10-19 11:48] #49 closed, assigned to BerndDoser